function Enemy.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 2
pop this 2
push argument 0
pop this 0
push argument 1
pop this 1
push constant 1
pop this 4
push constant 0
pop this 3
push pointer 0
call Enemy.draw 1
pop temp 0
push pointer 0
return
function Enemy.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Enemy.dispose 0
push argument 0
pop pointer 0
push constant 1
pop this 3
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 500
pop this 0
push constant 245
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Enemy.getX 0
push argument 0
pop pointer 0
push this 0
return
function Enemy.getY 0
push argument 0
pop pointer 0
push this 1
return
function Enemy.getIsDead 0
push argument 0
pop pointer 0
push this 3
return
function Enemy.getDirection 0
push argument 0
pop pointer 0
push this 4
return
function Enemy.changeDirection 0
push argument 0
pop pointer 0
push this 4
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
pop this 4
goto IF_END0
label IF_FALSE0
push constant 1
pop this 4
label IF_END0
push constant 0
return
function Enemy.moveX 0
push argument 0
pop pointer 0
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 10
add
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Enemy.moveY 0
push argument 0
pop pointer 0
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 10
add
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Enemy.moveXNeg 0
push argument 0
pop pointer 0
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 10
sub
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
