function Dona.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
push this 0
push this 1
push this 2
call Dona.draw 4
pop temp 0
push pointer 0
return
function Dona.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Dona.draw 0
push argument 0
pop pointer 0
push pointer 0
call Dona.borrar 1
pop temp 0
push argument 1
pop this 0
push argument 2
pop this 1
push argument 3
pop this 2
push argument 3
push constant 5
sub
pop this 3
push constant 1
call Screen.setColor 1
pop temp 0
push this 0
push this 0
push this 1
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 0
push this 1
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Dona.borrar 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 0
push this 1
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
